.image {
  /* width: 50%; */
  display: block;
  max-width: 200px;
  width: auto;
  height: auto;
}

.box {
  margin-right: 20vw;
  margin-left: 20vw;
}
@media only screen and (min-width: 902px) {
  .image {
    display: block;
    max-width: 430px;

    width: auto;
    height: auto;
  }
  .swipe {
    text-align: center;
    display: inline;
  }
}
@media only screen and (min-width: 600px) {
  .image {
    display: block;
    max-width: 400px;
    width: auto;
    height: auto;
    /* padding: 10%; */
  }
  .swipe {
    text-align: center;
    display: none;
  }
}
