<div class="jumbotron">
  <img
    src="https://cdn5.vectorstock.com/i/1000x1000/88/84/happy-woman-face-vector-8808884.jpg"
    class="mx-auto d-block profile"
    alt=".."
  />
  <br />
  <h4 style="text-align: center; color: rgb(83, 86, 87);" class="mx-auto">
    Vallari Agrawal
  </h4>
</div>

<div
  class="gridss"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="scrollDown()"
  [scrollWindow]="false"
>
  <div *ngFor="let i of images; index as x">
    <img
      (click)="index = x; openDialog()"
      class="eachImage"
      src="{{ i.link }}"
      alt="{{ i.name }}"
    />
  </div>
</div>
<br />
