.profile {
  width: 15vh;
  height: 15vh;
  object-fit: cover;
  border-radius: 100%;
}

#gallary-container {
  overflow-y: scroll;
  overflow-y: scroll;
}

/* https://github.com/nicky-lenaers/ngx-scroll-to/issues/66 */

/* TODO: discuss classes & Ids */
/* .eachImage { */
.gallery-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-item:hover {
  box-shadow: 0 2px 2px 1px rgba(5, 74, 97, 0.5);
  z-index: 200;
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 600px) {
  .gallery-grid {
    display: grid;
    row-gap: 1rem;
    justify-content: center;
    overflow: hidden;
    margin-right: 10%;
    margin-left: 10%;
    justify-items: center;

    grid-template-columns: 1fr;
  }
  .profile {
    width: 10vh;
    height: 10vh;

    border-radius: 100%;
  }
}
/* Small to Medium devices */
@media only screen and (min-width: 550px) {
  .gallery-grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr;
    margin-right: 10%;
    margin-left: 10%;
    justify-items: center;
    justify-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  .gallery-grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 10%;
    margin-left: 10%;
    justify-items: center;
    justify-content: center;

    /* column-gap: 2%; */
    /* grid-auto-flow: dense; */
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gallery-grid {
    display: grid;

    margin-right: 20%;
    margin-left: 20%;
    column-gap: 2%;
    /* grid-auto-flow: row; */

    justify-items: center;
    /* align-items: stretch; */
    /* grid-row-start: auto; */
    grid-template-columns: repeat(4, 1fr);
  }
}
